<%- include("header") -%>
  
      <section id="hero" class="d-flex align-items-center">
        <div class="container-fluid">
          <div class="row">
            <div
              class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
            >
              <h1>Contact Us</h1>
              <h2>
                  Fill up the form and our Team will get back to you within 24 hours.
              </h2>
  
              <div class="col col-md-12 messenger-icons">
                
                <a href="https://wa.me/123456789">
                <i class="fab fa-whatsapp fa-3x"></i></a>
  
                <a href="https://msng.link/o/?123456789=vi">
                <i class="fab fa-viber fa-3x"></i></a>
              
                <a href="https://www.facebook.com/mozillaclub.sliit/" target="_blank">
                <i class="fab fa-facebook-messenger fa-3x"></i>
                </a>
              </div>
  
            </div>
            <div class="col-lg-6 order-1 order-lg-2 mx-auto hero-img">
              <img src="assets/img/Call center.gif" class=" img-fluid float-end hero-img hero-desktop" alt="" />
              <img src="assets/img/Call center.gif" class=" img-fluid mx-auto hero-img hero-mobile" alt="" />
            </div>
          </div>
        </div>
      </section>
      <!-- End Hero -->
  
      <main id="main">
  
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="blogs section-bg">
          
          <div class="container-fluid">
            
  
            <!-- Contact us form -->
  
            <div class="row contact_details">
  
  
            <div class="col-lg-6 col-md-6 d-flex justify-content-center align-items-stretch">
            <div class="card" style="width: 100%;">
              <div class="card-body">
            <form action="#">
                  <div class="row">
  
                    <div class="form-group col-md-6">
                        <!-- <label for="name">Your Name</label> -->
                        <input type="text" class="form-control" id="name" placeholder="Name" required>
                       
                    </div>
                    <div class="form-group col-md-6">
                      <!-- <label for="name">Your Name</label> -->
                      <input type="email" class="form-control" id="email" placeholder="Email" required>
                  </div>
  
                  </div>
                  
                  <div class="form-group">
                      <!-- <label for="name">Your Name</label> -->
                      <input type="text" class="form-control" id="subject" placeholder="Subject" required>
                  </div>
                  <div class="form-group">
                      <!-- <label for="name">Your Name</label> -->
                      <textarea class="md-textarea form-control" rows="3" required  placeholder="Message"></textarea>
                  </div>
                  
                  <button type="submit" class="btn btn-primary">Send Message</button>
                  
                </form>
              </div>
                </div>
            </div>
  
  
            <div class="col text-center">
            <div class="col-lg-12 col-md-12 d-flex justify-content-center align-items-stretch">
                <div class="card card-block" style="width: 100%; margin-bottom: 1rem;">
    
                  <div class="card-body">
                    <i class='fas fa-address-book' style='font-size:28px'></i>
                    <h3>Our Address</h3>
                    <h5>SLIIT Malabe</h5>
                  </div>
                  
                  </div>
            </div>
  
  
            <div class="row">
            <div class="col-lg-6 col-md-6 d-flex justify-content-center align-items-stretch">
                  <div class="card" style="width: 100%; margin-bottom: 1rem;">
                    <div class="card-body">
                      <i class='fas fa-envelope-open-text' style='font-size:28px'></i>
                      <h3>Email Us</h3>
                      <h5>mozilla@email.com</h5>
                    </div>
                    </div>
            </div>
  
  
  
            <div class="col-lg-6 col-md-6 d-flex justify-content-center align-items-stretch">
                    <div class="card" style="width: 100%; margin-bottom: 1rem;">
                      <div class="card-body">
                        <i class="fas fa-phone" style='font-size:28px'></i>
                        <h3>Call Us</h3>
                        <h5>0123456789</h5>
                      </div>
                      </div>
                    </div>
                      </div>
  
                    </div>
  
                  </div>
        
        </section>
        <!-- End Testimonials Section -->
      </main>
      <!-- End #main -->
  
      <%- include("footer") -%>
