<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h3>Subscribe</h3>
            <p>
              Subscribe to stay in toch with our latest bllogs, events and more!
            </p>
          </div>
        </div>

        <div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">
            <form action="/" method="post">
              <input type="email" name="email" placeholder="Enter your Email"><input type="submit" name="submit" value="Subscribe">
            </form>
            <!-- <div class="alert-box ">
              Succesfully Subscribed!  <span class="float-end alert-closing" style="padding-right: 15px; ">X</span>
              </div> -->
          </div>
        </div>

        <div class="social-links">
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>


  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
</body>

</html>
